body, body * {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-family: 'Courier New';
  line-height: 20px;
  color: #BBB;
  overflow: auto;
  outline: none;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  text-align: left;
}

table {
  border-collapse: collapse;
  display: block;
  white-space: nowrap;
  min-height: 100px;
}

.input {
  min-width: 25%;
  flex: 1;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  filter: brightness(50%);
}

.popup {
  display: block;
  position: absolute;
  z-index: 1;
}

.right-side {
  right: 0;
}

.hidden {
  display: none;
}

.padded {
  margin: 1px;
  padding: 5px;
}

.row {
  width: 100%;
}

.resizable {
  resize: horizontal;
  min-width: max-content;
}

*::-webkit-resizer {
  background-color: transparent;
}

.curved {
  border-radius: 5px;
}

.grey-111 {
  background-color: #111;
}

.grey-222 {
  background-color: #222;
}

.grey-333 {
  background-color: #333;
}

.grey-444 {
  background-color: #444;
}

.grey-666 {
  background-color: #666;
}

.blue-35a {
  background-color: #35a
}

.grey-border {
  border: 1px solid #333
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
}
